<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

<div id="general">

    <div id="contenido">
        <h2 class="titulo">Aplicación Django uso de Heroku y Github</h2>
    </div>
    <div id="informacion">
        <h3 class="nombre">Luis Daniel Sánchez Cabrera</h3>
        <br>
        <h3 class="nombre">GRIC2091</h3>
        <br>
        <h3 class="nombre">Automatización de Infraestructura Digital</h3>
    </div>
</div>

</body>
</html>